- 
	var promo = {
		
	}

mixin promo(data)
	section#promo.promo
		.promo_head.head.head--smaller 
			|Наши супер-скидки: <br>
			|40% на работу, <br>
			|10% на все материалы <br>
			|и две подушки в подарок! <br>
		.promo_desc
			|Каждый клиент получает 40% скидку на работу,
			|10% скидку на материалы и две подушки в подарок. 
			|Звоните, такого еще не было!
		.promo_tip
			|*Акция временная. Срок окончания смотрите в начале страницы.
