
.promo
  max-width: 1580px
  margin: auto
  padding: 190px 40% 170px 20px
  box-sizing: border-box
  background: url('../../static/img/promo/promo.png') no-repeat 100%
  background-size: 50%
  &_head
    margin-bottom: 59px
    text-align: left
  &_desc
    max-width: 450px
    font-size: 18px
    font-weight: 300
  &_tip
    margin-top: 35px
    font-size: 18px
    font-weight: 300
    opacity: 0.1
