mixin callback()
	section.callback
		.callback_text 
			|Дизайнер приедет и поможет вам с выбором. 
			|Все районы Москвы и МО!
		.callback_phone
			a(href="tel:+74955454207").--text-highlight +7 (495) 545-42-07