.footer
  background-color: $bgColorDarken
  &_content
    display: flex
    justify-content: space-between
    align-items: center
    width: 92%
    min-height: 68px
    margin: auto
  &_item
    color: #444
    flex-basis: 300px
.social
  display: flex
  &_link
    margin: 0 14px
    a
      display: block
      width: 32px
      height: 32px
      border-radius: 50%
      border: 1px solid #444
      background-repeat: no-repeat
      background-size: 50%
      background-position: 50% 50%
      &:hover
        filter: brightness(2)
