- 
	var map = {
		
	}

mixin map(data)
	section#map.map
		.map_inner
			script(
				type="text/javascript" 
				charset="utf-8" 
				async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A32d32b237fbe034eb19c803686aa38dfd61ab70a339d7302194b3d555ac2afb7&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"
			)
		p.map_tip
			|Вы можете бесплатно пригласить к себе нашего дизайнера или приехать 
			|к нам по адресу: Москва, ул. Вилюйская, д. 6.

